{% extends 'base.html' %}
{% load static %}

{% block title %} About Us | student affairs {% endblock title %}

{% block content %}
<div class="body-container container">
    <h1>About us</h1>
   <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Group</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>آلاء عامر محمد عامر</td>
                <td>20200090</td>
                <td>S12</td>
            </tr>
            <tr>
                <td>دينا محسن جمال الدين عبد السلام</td>
                <td>20200174</td>
                <td>S12</td>
            </tr>
            <tr>
                <td>أحمد علاء الدين فوزي</td>
                <td>20200029</td>
                <td>S12</td>
            </tr>
            <tr>
                <td>مايكل زكي عبد السيد</td>
                <td>20200418</td>
                <td>S12</td>
            </tr>
            <tr>
                <td> مهند عرفه أحمد السيد</td>
                <td>20200563</td>
                <td>S12</td>
            </tr>
            <tr>
                <td>يوسف طلعت صبحي</td>
                <td>20200657</td>
                <td>S12</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}